## Deliverable 3. Create a Travel Itinerary Map.

In [60]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [74]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(679)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Khromtau,KZ,24.19,few clouds,50.2503,58.4347,Придорожный сервис Кең Дала
1,4,Saint-Philippe,RE,19.77,few clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
2,5,Berea,US,25.66,clear sky,41.3662,-81.8543,Comfort Inn Cleveland Airport
3,9,Luwuk,ID,24.35,broken clouds,-0.9516,122.7875,Hotel Santika Luwuk
4,10,Hithadhoo,MV,27.59,overcast clouds,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...,...,...
380,674,Macia,MZ,18.85,clear sky,-25.0269,33.0989,Hotel Taskin Macia
381,675,Mbandaka,CD,24.47,overcast clouds,0.0487,18.2603,Guest House Epervier
382,677,Havelock,US,29.47,light rain,34.8791,-76.9013,Sherwood Motel
383,678,Tazmalt,DZ,23.83,broken clouds,36.3868,4.3989,Hôtel Numédia
384,679,Eureka,US,28.71,scattered clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham

In [68]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [69]:
# 4a. Add a marker layer for each city to the map.
marker = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Berea")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Havelock")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Lexington")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Griffith")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Westport")]

In [84]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
place1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
place2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2 ["Lng"].to_numpy()[0]
place3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [85]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[place1,place2,place3], travel_mode= "DRIVING"or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [86]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Berea,US,25.66,clear sky,41.3662,-81.8543,Comfort Inn Cleveland Airport
1,386,Lexington,US,26.62,clear sky,37.9887,-84.4777,DoubleTree Suites by Hilton Hotel Lexington
2,106,Griffith,US,25.08,overcast clouds,41.5284,-87.4237,"Motel 6 Hammond, IN - Chicago Area"
3,409,Westport,US,28.19,clear sky,41.1415,-73.3579,The Westport Inn

In [87]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [88]:
# 11a. Add a marker layer for each city to the map.
marker = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))